.feed {
  flex: 0.6;
  margin: 0 120px;
  width: 68%;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-left: 12em;
}
.feed__inputContainer {
  background-color: #ffff;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  height: 18vh;
}
.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}
.feed__input > feed {
  display: flex;
  width: 50%;
}
.feed__input > form > input {
  border: none;
  border-radius: 30px;
  background-color: #e9eaee;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.feed__input > form > button {
  display: none;
}

.search__bar__elements__row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 1vh;
  margin-top: 1.6vh;
  color: grey;
}
.search__container__onscroll {
  border-radius: 3rem;
  border: 1px solid rgb(179, 173, 173);
  background-color: white;
  color: black;
  height: 7vh;
  box-shadow: 0px 2px 12px 1px rgb(235, 227, 227);
  width: 58vh;
  cursor: pointer;
}
.search__container__onscroll:hover {
  background-color: #ebebeb;
}
.search__btn__onscroll {
  border-radius: 2rem;
  border-color: transparent;
  background-color: #ff385c;
  color: white;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: inherit !important;
  line-height: 16px !important;
  user-select: auto !important;
  display: inline-flex !important;
  padding: 6px !important;
  position: relative !important;
  z-index: 1 !important;
}
.start__btn {
  border-color: transparent;
  background-color: transparent;
}
.start__btn:hover {
  border-radius: 0.3rem;
  background-color: #ebebeb;
  border-color: transparent;
}
.start__txt {
  font-weight: 500;
  font-size: smaller;
}
.start__img {
  width: 3.7em;
  height: 3.7em;
  border-radius: 50%;
}
#modal__title {
  font-size: 20px;
  font-weight: 400;
}
.anyone__btn {
  background-color: #ffff;
  border: 2px solid rgb(156, 151, 151);
  color: black;
  border-radius: 1.3rem;
  width: 8.5em;
  height: 2em;
  display: flex;
  align-items: center;
}

.anyone__btn:hover {
  background-color: #c5bcbc;
  border: 2px solid #969494;
  color: black;
}
.anyone__btn__footer {
  background-color: #ffff;
  border: 2px solid rgb(156, 151, 151);
  color: black;
  border-radius: 1.3rem;
  width: 6em;
  height: 2em;
  display: flex;
  align-items: center;
}

.dropdown__btn {
  background-color: transparent;
  color: rgb(153, 148, 148);
  border-color: transparent;
  margin-top: 3px;
}

.dropdown__btn:hover {
  background-color: transparent;
  color: black;
  border-color: transparent;
}
.hashtag__btn {
  color: #0a66c2;
  font-weight: 600;
}
.close__btn {
  width: 4.5em;
  background-color: #e2e6ea;
  color: rgb(156, 151, 151);
  border-radius: 1.3rem;
  height: 2em;
  display: flex;
  align-items: center;
}
.post__btn {
  width: 4.5em;
  background-color: #e2e6ea;
  color: black;
  border-radius: 1.3rem;
  align-items: center;
  margin-left: 17em;
}
.profile-image-posts {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.profile-image-posts2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.num_post {
  position: absolute;
  left: 80%;
  top: 61%;
  color: blue;
  margin: 0.25rem 0;
  height: 12px;
  border-radius: 0.25rem;
}
.saved {
  margin-top: 5px;
  margin-left: 13px;
  font-weight: 600;
  font-size: small;
}
#left-sidebar {
  position: absolute;
  top: 90px;
  left: 224px;
  width: 230px;
  padding-left: 0px !important;
  margin-left: 0px !important;
}

#left-sidebar .h5 {
  font-weight: lighter !important;
  font-weight: 400 !important;
}

#left-sidebar a {
  font-size: 0.8rem;
  font-weight: 00;
  color: var(--blue);
}

#left-sidebar .card-footer {
  border-top: 1px solid rgba(221, 221, 221, 0.5) !important;
}

#left-sidebar .card-footer:hover {
  background-color: #f3f2ef !important;
}

#right-sidebar__right {
  position: relative;
  width: 250px;
  margin-right: -5.2rem;
  top: -2px;
  right: 86px;
}
.right__side__footer {
  margin-left: 35px;
}
#right-sidebar__right .h5 {
  font-weight: bold;
  font-size: 0.9rem;
  color: #434343;
}

#right-sidebar__right h6 {
  font-size: 0.9rem;
  color: #434343;
}

#right-sidebar__right p {
  font-size: 0.7rem;
  color: #868686;
}

#right-sidebar__right button {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #434343;
  color: var(--gray-text);
  font-weight: bold;
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
}

#right-sidebar__right button:hover {
  background-color: var(--bg-color);
  border: 2px solid #434343;
}

#right-sidebar__right .card-footer {
  background: none;
  border: none;
}

#right-sidebar__right .card-footer > p {
  color: #868686;
  font-weight: bold;
  font-size: 0.75rem;
}

#right-sidebar .card-footer > p:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}

#right-sidebar #follow img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
